:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #cefa6d;
  --color-232f3e: #232f3e;
  --color-bf4800: #6b4731;
  --color-f5f5f7: #d1d1d1;
  --color-ededed: #ededed;
  --color-777777: #777777;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: rgb(251, 251, 251);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
  display: inline-block;
}
.button:hover {
  background-color: #c8c8c8;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
  text-align: center;
  align-items: center;
}

/* Header Begin */

.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-main {
  background-color: var(--color-131921);
}

.header-main .input-group {
  width: 100%;
  display: flex;
  align-items: stretch;
  height: 100%;
  margin-top: 14px;
}

.header-main .input-group .form-control {
  flex: 0.9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header-main .input-group .input-group-text {
  background-color: var(--color-febd69);
  border: none;
  color: var(--color-131921);
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 11px;
}

.header-links .d-flex {
  gap: 10px;
}

.header-links .d-flex a {
  display: flex;
  align-items: center;
}

.header-main h2 a {
  color: white;
  text-decoration: none;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 5px;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
  transform: translate(0px, 57px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: #cacaca !important;
}

.spacing {
  margin-left: 400px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-main .input-group {
    flex-direction: row;
  }

  .header-main .input-group .form-control,
  .header-main .input-group {
    width: 100%;
    height: auto;
  }

  .header-links {
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 100px;
    width: 100%;
  }

  .header-links .d-flex {
    justify-content: flex-end;
    width: auto;
    flex-wrap: wrap;
  }

  .header-links .d-flex a,
  .header-links .d-flex span {
    justify-content: flex-end;
  }

  .header-links .d-flex a span {
    display: inline !important;
  }

  .header-bottom .menu-bottom {
    justify-content: center;
  }

  .header-links a svg,
  .header-links span svg {
    transform: none;
    margin-right: 5px;
  }
}

/* Header End */

/* Product-Card Begin */

.product-card {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card .card {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.product-card .card {
  min-width: 200px !important;
}

.product-card:hover .action-bar {
  right: 13px;
}

.product-card .product-image {
  max-height: 150px;
  max-height: 150px;
  object-fit: contain;
  width: 100%;
}

.product-detail h5 {
  font-size: 15px;
}
.product-card h6 .product-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2em;
  margin-bottom: 10px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.product-card p.price {
  font-size: 1rem;
  color: #333;
}

.description {
  font-size: 0.9rem;
  color: #595959;
  margin-bottom: 1rem;
}
.action-bar {
  top: 10%;
  right: -20px;
  transition: right 0.4s;
}
.wishlist-icon {
  top: 10px;
  right: 15px;
}
.card-body {
  padding: 1rem;
}

.card-body img {
  border-radius: 10px;
}
/* Product-Card End */

/* Footer Begin */

footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, rgb(15, 17, 15), 255, 255, 0.1);
}

/* Footer End */

/* Home Begin */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
@media (max-width: 991.98px) {
  .categories-section {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .carousel-wrapper img {
    width: 100%;
  }
}
.carousel-wrapper {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
}

.specprod {
  padding: 10px;
  margin: 10px;
  font-style: italic;
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  border-radius: 10px;
}

.categories > div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-wrapper-2 .categories > div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 15px 0;
  border-radius: 5px;
  overflow: hidden;
}

.home-wrapper-2 .categories > div:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.home-wrapper-2 img {
  /* width: auto; */
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.home-wrapper-2 .categories > div:hover img {
  opacity: 0.9;
}

.home-wrapper-2 h6 {
  font-size: 1rem;
  color: #181818;
  margin-bottom: 5px;
}

.home-wrapper-2 p {
  font-size: 0.85rem;
  color: #292929;
}

.home-wrapper-2 .d-flex {
  align-items: center;
  gap: 30px;
}

.section-heading {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

.home-wrapper-3 .main-banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-wrapper-3 .main-banner:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-wrapper-3 .img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .home-wrapper-3 .col-6 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .home-wrapper-2 .services {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-wrapper-2 .services .d-flex {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .home-wrapper-2 .services .d-flex:last-child {
    margin-bottom: 0;
  }
}

/* Home End */

/* Blog Begin */

.blog {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 0 0 10px #5555551a;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
}
.blog-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 100%;
  display: flex;
}
.blog:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blog img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-images img {
  width: 100%;
  height: auto;
}
.blog-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.date {
  color: #777;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-style: italic;
}

/* Blog End */

/* Filters/Sidebar Begin */

.category-link {
  color: #000;
  text-decoration: none;
}

.category-link:hover {
  color: #000;
  text-decoration: underline;
}

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #0000001a;
}
.filter-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 1rem;
  line-height: 30px;
  cursor: pointer;
}
.filter-card li {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.filter-card li span {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.filter-card li:hover span {
  background-color: #e9e9e9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sub-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-check-input {
  accent-color: lightgreen;
  outline: none;
  cursor: pointer;
}
.form-check-label {
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}
.form-check-input:focus {
  box-shadow: 0 0 0 3px rgba(144, 238, 144, 0.5);
}
.form-check-input:checked {
  background-color: lightgreen;
  border-color: lightgreen;
}
.form-check {
  margin-bottom: 10px;
}
.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  background-color: red;
}
.random-products {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-item {
  width: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-info h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-info {
  text-align: center;
}
.react-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.product-info h5,
b {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.product-item {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
}
.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #b0b0b0;
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media (max-width: 575.98px) {
  .categories-section {
    display: none;
  }
}

/* Filters/Sidebar End */

/* Contact Begin */

.map {
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.contact-inner-wrapper {
  padding: 30px 20px;
  background-color: white;
  gap: 15px;
  border-radius: 10px;
}

.contact-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
}

.form-control {
  min-width: auto;
  padding: 10px;
  font-size: 16px;
  padding: 10px;
}
@media (max-width: 768px) {
  .form-control,
  .button {
    min-width: 100%;
  }
}

.contact-inner-wrapper ul {
  list-style: none;
  color: #7e7e7e;
}

.contact-inner-wrapper adress,
.contact-inner-wrapper p,
.contact-inner-wrapper a {
  color: #777;
}

/* Contact End */

/* Wishlist Begin */

.close-button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: -20px;
  width: 30px;
  height: 30px;
  margin-left: left;
  color: black;
  background-color: white;
  font-size: 1rem;
}

.close-button:hover {
  background-color: white;
}

/* Wishlist End */

/* Login and Register Page  Begin */

/* Login.css */

.login-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.auth {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginh3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Login and Register Page  End */

/* Policy Begin */
.policy {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}
/* Policy End */

/* Product Detail Begin */

.product-description {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}

.main-product-image {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.bottom-images .col {
  background-color: white;
  border-radius: 10px;
}

.bottom-images .small-image {
  width: 100%;
  height: auto;
  padding: 5px;
}

.main-image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .bottom-images .small-image {
    margin-top: 15px;
  }
}

.main-product-details {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.main-product-details h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-product-details .price {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.product-header {
  font-size: 20px;
  margin-top: 50px;
}

.product-name {
  margin-bottom: 0px;
}

.quantity-input {
  width: auto;
  cursor: pointer;
}
.badge {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.badge:hover {
  background-color: #e2e6ea;
}

.product-image-wrapper {
  position: relative;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
}

/* Product Detail End */

/* Cart Begin */

.cart-wrapper {
  background-color: white;
  padding: 20px 0;
}

.cart-wrapper ul {
  padding: 0;
}

.cart-wrapper li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-wrapper li img {
  max-width: 100px;
  margin-right: 15px;
}

.cart-wrapper li button {
  align-self: flex-start;
}

.cart-wrapper .list-unstyled li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-wrapper .list-unstyled li .btn-danger {
  margin-left: auto;
}

.product-cart {
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.product-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.delete-btn {
  margin-top: 10px;
  color: #fff;
  border: none;
}

.button {
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

/* Flex properties to ensure consistent spacing and alignment */
.product-cart img {
  max-width: 100%;
  height: auto;
}

.product-image-wrapper {
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 576px) {
  .product-cart {
    flex-direction: row;
    align-items: center;
  }

  .product-cart img {
    max-width: 80px;
    margin-right: 15px;
  }

  .product-cart h5,
  .product-cart p {
    margin-bottom: 0;
  }
}

/* Cart End */

/* Checkout Begin */

.checkout-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  padding: 20px 0;
}

.purchase-btn {
  text-align: right;
}
.store-wrapper {
  padding: 20px 0;
}
/* Flash Message */
.flash-message {
  text-align: center;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  animation: slide-in 0.5s ease-in-out, fade-out 0.5s 2.5s ease-in-out forwards;
}

.flash-message.success {
  background-color: #4caf50;
  color: white;
}

.flash-message.error {
  background-color: #f44336;
  color: white;
}

.flash-message.info {
  background-color: #2196f3;
  color: white;
}

@keyframes slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 20px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Flash Message End */

/* Single Product Begin */

.description-image-wrapper {
  text-align: center;
}

.description-image {
  max-width: 100%;
  height: auto;
  max-height: 1200px;
  margin: auto;
}
